@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

.rollDicePage {
  font-family: Asap, sans-serif;
  /* background-color: #24272e; */
  text-align: center;
  margin: auto;

  width: 40vw;
  margin-top: 50px;
}
.theDice {
  /* background-color: whitesmoke; */
  height: 100px;
  margin-top: 100px;
}

.dice-image {
  margin: 10px;
  background-color: antiquewhite;
  border-radius: 8px;
}

img {
  width: 5vw;
}
.rollMeBtn {
  margin-top: 20px;
  align-content: center;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 800px) {
  /* For tablets: */

  .dice-image {
    display: flex;
  }

  .dice-image {
    margin: auto;
    margin-top: 10px;
  }
}
